:root{
  --green20: #2f9e44;
  --green10: #37b24d;
  --gray20: #212529;
  --gray10: #343a40;
}

/* boton login */

.login{
  display: grid;
  /* place-items = align-items & justify-items */
  place-items: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.login a{
  padding: 1.4rem;
  text-align: center;
  border-radius: 99px;
  background-color: var(--green10);
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
  color: white;
}

.login a:hover{
  background-color: var(--green20);
  cursor: pointer;
}

/* slogan welcome app */

.slogan{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.slogan img{
  height: 100px;
  margin-right: 1rem;
  align-self: center;
}



